<div id="<%= params[:controller].parameterize%>_controller">
	<p id="titulo">CONTATO</p>
	<p>Dúvidas, interesse nos nossos serviços, mais informações sobre aquisição dos produtos <br />
		ou informações gerais. Basta selecionar a área desejada e entrar em contato conosco.</p>
		<div id="centro">
			 <img src="assets/contato_endereco.png" alt"" border="0">
			<div id="esquerda">
				<iframe style="float: left;" width="370" height="310" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=rua+engenheiro+jovino,220&amp;aq=&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Eng.+Ant%C3%B4nio+Jovino,+220+-+Vila+Andrade,+S%C3%A3o+Paulo,+05727-220&amp;ll=-23.629113,-46.736591&amp;spn=0.011146,0.021136&amp;t=m&amp;z=14&amp;output=embed"></iframe>
			</div>
			<div id="direita">
				<a href="/nossoproduto"><img src="assets/cliqueaqui.png" alt"Clique aqui e veja as especificações dos nossos equipamentos" border="0"></a>
				<p id="subtitulo">Como Chegar?</p>
				<hr />
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate diam sed nunc luctus et sollicitudin purus consequat. Donec iaculis mollis pellentesque. Phasellus odio arcu.</p>
			</div>
			<div style="clear:both"></div>
			<a <a href="mailto:comercial@p3d.com.br?subject=Licenciamento Brasil"><img src="assets/contato_licenciamento.png" alt"Licenciamento Brasil" border="0"></a>
			<a <a href="mailto:internacional@p3d.com.br?subject=Vendas para o exterior"><img src="assets/contato_vendasexterior.png" alt"Vendas para o exterior" border="0"></a>
			<a <a href="mailto:suporte@p3d.com.br?subject=Duvidas Técnicas"><img src="assets/contato_dadostecnicos.png" alt"Duvidas Técnicas" border="0"></a>
		</div>
	<div class="clear"></div>
</div>

