<div id="<%= params[:controller].parameterize%>_controller">
	
	<div id="myCarousel" class="carousel slide">
		<img src="assets/banner.jpg" alt="banner" border="0" >
	</div>
	
	<div id="centro">
		<div class="news">
			<img src="assets/texto01.jpg" alt="banner" border="0" >
			<span>EMPRESA</span>
			<hr>
			<p>Fundada em 2005, a P3D é uma empresa que busca a renovação constante do uso da tecnologia na sala de aula para diferenciar e aumentar a excelência da educação.</p>
			<img src="assets/btnVejaMais.jpg" alt="banner" border="0" >		
		</div>
		<div class="news">
			<img src="assets/texto02.jpg" alt="banner" border="0" >
			<span>NOSSO PRODUTO</span>
			<hr>
			<p>Desenvolvemos softwares de IMAGENS TRIDIMENSIONAIS e REALIDADE VIRTUAL, em parceria com grandes institutos educacionais, para se tornarem importantes ferramentas de aprimoramento e oferecer mais dinâmica para as aulas.</p>
			<img src="assets/btnVejaMais.jpg" alt="banner" border="0" >
		</div>
		<div class="news">
			<img src="assets/texto03.jpg" alt="banner" border="0" >
			<span>ACONTECE NA P3D</span>
			<hr>
			<p>6/1/2012 P3D é destaque no Fantástico Em materia exibida no primero programa do ano, o software P3D aparece como uma das ferramentas para a evolução do sistema de aprendizagem na sala de aula. </p>
			<img src="assets/btnVejaMais.jpg" alt="banner" border="0" >
		</div>
	</div>
	<div style="clear: both;"></div>
	<div class="carousel" >
		<img src="assets/carousel.jpg" alt="banner" border="0" >
	</div>
	
	
</div>